<div class="profile_information">
<img src="<%=@user.picture%>" alt="<%= @user.name %>" height="220" width="220" />
  <h3 class="name"><%= @user.name %></h3>
  <p>
    <%= @user.description %><br>
    <%= @user.hometown %>
  </p>
</div>
<div class="friends">
  <p>
    Friends (<%= @friends.count %>)
  </p>
  <% @first_9_friends.each do |friend| %>
      <img src="  <%= friend.picture %>" alt="<%= friend.name %>" height="50" width="50" />
  <% end %>
</div>
<%= form_for([@user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved: </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<p>
  <% @allposts.each do |post| %>
  <p>
    <% if post.instance_of? Post %>
    <p>
      <%= post.user.name %>
    </p>
    <% else %>
    <p>
      <%= post.friend.name %>
    </p>
    <% end %>
    <p>
      <%= post.hours_ago %><br>
      <%= post.content %>
    </p>
    <% if post.picture != nil %>
      <img src="  <%= post.picture %>" alt="picture" width="493" />
    <% end %>
  </p>
  <% end %>
</p>
