<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("logo.png") %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="less-opacity" href="#">Blog</a></li>
        <li><a href="#">|</a></li>
        <li><a class="less-opacity" href="#">Friends</a></li>
        <li><a href="#">|</a></li>
        <li><a href="#"><strong><%= @user.name %></strong></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-screen">
  <div class="row center-block">
    <div class="col-xs-1"></div>
    <div class="col-xs-3 profile-container">
      <img class="profile-pic" src="<%=@user.picture%>" alt="<%= @user.name %>" />
        <div class="user-description">
          <p>
            <h3 class="name"><%= @user.name %></h3>
            <h3 class="friends-count">(<%= @friends.count %> FRIENDS)</h3>
          </p>
        </div>
        <div class="stats-container">
              <h3 class="stats"><span class="like-stats">28</span>Likes</h3>
              <h3 class="stats"><span class="comment-stats">10</span>Comments</h3>
              <h3 class="stats"><span class="share-stats">14</span>Shares</h3>
        </div>
    </div>

    <div class="col-xs-7 post-container">
      <div class="form-area">
        <%= form_for([@user, @post]) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved: </h2>
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <div class="field">
              <%= f.text_area :content,placeholder: "Write a post...", class:'post-form-area' %>
            </div>
            <div class="actions">
              <%= f.submit 'Post' %>
            </div>
        <% end %>
        <i class="material-icons md-18">attach_file</i>
        <i class="material-icons md-18">add_a_photo</i>
      </div>

        <% @allposts.each do |post| %>
        <div class="post white-and-border">
          <div class="post-top-container">
              <% if post.instance_of? Post %>
                <img class="post-user-photo" src="<%= post.user.picture %>" alt="<%= post.user.name %>" />
              <% else %>
                <img class="post-user-photo" src="<%= post.friend.picture %>" alt="<%= post.friend.name %>" />
              <% end %>
            <div class="post-user-info">
              <% if post.instance_of? Post %>

              <p class="post-name">
                <%= post.user.name %>
              </p>
              <% else %>
              <p class="post-name">
                <%= post.friend.name %>
              <% end %>
              <span class="hours-ago">(<%= post.hours_ago %>)</span>
              </p>
            </div>
          </div>
          <p class="post-content">
            <%= post.content %>
          </p>
          <% if post.instance_of? FriendPost %>
            <% if post.picture != nil %>
              <img src="<%= post.picture %>" alt="picture" width="493" class="post-photo" />
            <% end %>
          <% end %>

            <div class="respond-bar">
              <div class="action-container">
                <%= image_tag("ic_like.svg") %>
                <p class="respond-icon-text">Like (<span class='like'>14</span>)</p>
              </div>
              <div class="action-container">
                <%= image_tag("ic_msg.svg") %>
                <p class="respond-icon-text">Comment (<span class='comment'>8</span>)</p>
              </div>
              <div class="action-container">
                <%= image_tag("ic_share.svg") %>
                <p class="respond-icon-text">Share (<span class='share'>10</span>)</p>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
